/* General */

#in, #stk {font-family: "Victor Mono", monospace;}
pre {font-family: "Victor Mono", monospace;}
#top, h1, h2, h3 {font-family: "Jost", sans-serif;}
p, table, .table tr, .table th, .table td, ul, li, ol {font-family: "EB Garamond", serif;}

/* Screen */
@media screen {
body {padding: 10px;}
h1  {font-size: 16pt;}
h2 {font-size: 14pt;}
h3 {font-size: 12pt;}
p, ul, li, ol {font-size: 12pt;}
table, .table tr, .table th, .table td {font-size: 11pt;}
table {border-spacing: 10px 0px;}
#in {font-size: 9pt; padding: 10px; resize: none; border-radius: 3px;}
#stk {font-size: 9pt;}
#out {font-size: 9pt; padding: 10px; border: 1px solid black; border-radius: 3px;}
pre {font-size: 9pt; margin-left: 10px;}
body {background-color: white;}
#in {background-color: #f7f7f7; color: black;}
}

/* Screen_Landscape */
@media screen and (orientation: landscape) {
#top {height: 20px;}
#in {width: calc(50vw - 55px); height: calc(100dvh - 130px); overflow: auto; margin: 10px 0px 5px 0px;}
#stk {width: calc(100vw - 55px); height: 25pt; overflow: auto; margin: 0px;}
#out {position: fixed; top: 20px; right: 20px; width: calc(50vw - 55px); height: calc(100dvh - 60px); overflow: auto;}
}

/* Screen_Portrait */
@media screen and (orientation: portrait) {
#top {height: 20px;}
#in {width: calc(100vw - 60px); height: calc(100dvh - 130px); overflow: auto; margin: 10px 0px 5px 0px;}
#stk {width: calc(100vw - 60px); height: 25pt; overflow: auto; margin: 0px 0px 10px 0px;}
#out {width: calc(100vw - 60px); height: calc(100dvh - 60px); overflow: auto; margin-top: 40px;}
}

/* Print */
@media print {
#in, #stk, #top {display: none;}
h1  {font-size: 16pt;}
h2 {font-size: 14pt;}
h3 {font-size: 12pt;}
p, ul, li, ol {font-size: 12pt;}
table, .table tr, .table th, .table td {font-size: 11pt;}
table {border-spacing: 10pt 0px;}
pre {font-size: 9pt; margin-left: 10pt;}
}
